.group {
  margin-bottom: 1em;
}

.axis {
  font: 10px sans-serif;
  z-index: 2;
}

.axis text {
  stroke: #FFF;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #FFF;
  shape-rendering: crispEdges;
}

.axis.bottom {
  color: white;
  bottom: 0px;
  padding: 24px 0 0 0;
}

.horizon {
  border-bottom: solid 1px #333;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #333;
  border-bottom: solid 1px #FFF;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  font-weight: bold;
  text-rendering: optimizelegibility;
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #FFF;
  z-index: 2;
}

li.elogEntry {
	display: inline;
	font-size: 24px;
	line-height: 40px;
	font-weight: bold;
	text-rendering: optimizelegibility;
}

.emittanceValue, .matchingValue{
	/*font-weight: bold;*/
}

#emittanceTable th {
	font-size: 18px;
	line-height: 20px;
	vertical-align: bottom;
}

#emittanceTable td {
	font-size: 36px;
	line-height: 40px;
	font-weight: bold;
}

h1.bigfont {
	font-size: 45px;
	line-height: 50px;
}